body {
  background-color: #f7f8f9;
  max-width: 100vw;
  overflow-x: hidden;
}

ul {
  margin: 0;
  padding-left: 15px;
}

li {
  word-break: break-all;
  margin: 0;
  padding: 5px 0 0 0;
  font-size: small;
}

.main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(100% / 7), 1fr));
  grid-gap: 10px;
  padding: 10px;
}

.full {
  height: 100vh;
}

.blod {
  font-weight: bold;
}

@media (max-width: 740px) {
  .main {
    grid-template-columns: repeat(auto-fill, minmax(calc(100% / 6), 1fr));
  }
}

@media (max-width: 540px) {
  .main {
    grid-template-columns: repeat(auto-fill, minmax(calc(100% / 5), 1fr));
  }
}

@media (max-width: 420px) {
  .main {
    grid-template-columns: repeat(auto-fill, minmax(calc(100% / 4), 1fr));
  }
}

.animate {
  /* overflow: auto; */
  white-space: nowrap;
  animation: marquee 5s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(-100%);
  }

  0% {
    transform: translateX(100%);
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.8s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active 在Vue 2.1.8+ */ {
  opacity: 0;
}
